body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.main {
    height: 100vh;
    background: url('./images/woman.gif');
    background-size: cover;
    background-position: center bottom;
}

ul{
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
    list-style: none;
}

li{
    padding: 30px 23px;
    border: 2px solid transparent;
    text-transform: uppercase;
    color:white;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 3px; 
    font-family: 'Morganite', sans-serif;
    line-height: 30px; 
    text-align: center; 
}

li a {
    text-decoration: none;
    color: white;
}
.active{
    background: white;
    color:#D22F85; 
    height: 39px; 
    text-align: center; 
  }

  li:hover {
    background: #D22F85;
    color: white;
    cursor: pointer;
    border-radius: 5px; 
}

  nav ul {
    /* Ajusta el margen entre los elementos del menú según tu preferencia */
    margin: 0 10px;
}
h1{
    color:#FCF300;
    font-family: 'Morganite', sans-serif;
    font-size: 170px;
    margin: 0px;
    margin-left: 293;
    margin-top: 20;
    font-weight: 900;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.5); 
    letter-spacing: 3px; 
}

h2{
    color:white;
    font-family: 'Morganite', sans-serif;
    font-size: 170px;
    margin: 0px;
    margin-left: 213;
    margin-top: -20px;
    font-weight: 900;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.5); 
    letter-spacing: 3px; 
}

h3{
    color:#f78da7;
    font-family: 'Morganite', sans-serif;
    font-size: 66px;
    margin: 0px;
    margin-left: 308;
    margin-top: 3;
    font-weight: 800;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.5); 
    letter-spacing: 3px; 
}

h4{
    color:#8E2B6C;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 260;
}

h5{
    color:#8E2B6C;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 100;
}

nav{
    display: flex;
    justify-content: flex-end;
}

.slogan-design {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

.section-container{
    
    background-color: rgb(255, 255, 255);
    padding: 32px 74px ;
    margin-top: 215px;
}

p{
    color:black;
    font-size: 20px;
    margin-bottom: 94px;  
    font-family: 'Times New Roman', Times, serif;
    padding-left: 95px;
    padding-right: 130px;
}

.biography{
   
    margin-top: 75px;
    margin-bottom: 94px;  
    font-family: 'Times New Roman', Times, serif;
    padding-left: 95px;
    padding-right: 130px;

}
.section-container2{
    display: flex;
    flex-direction: column;
    background: url('./images/fondo.png');
    padding: 8px 30px ;
    background-size: cover;
    background-position: center bottom;
}

.image-row{
    display: flex;
    justify-content: center; 
    gap: 80px;   
    margin-top: 0px;
}

.image-row img {
    width: 500px;
    margin: 25px;
    margin-left: 50px;
    margin-right: 10px;
    border: 3px solid #929191; 
    border-radius: 10px; /*  borde redondeado */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    transition: transform 0.3s ease-in-out; /* Agrega una transición suave a la propiedad transform */
}

img{
    display: flex;
    justify-content: center; 
    gap: 20px; 
    width: 200px;  
}


.image-row img:hover {
    transform: scale(1.05);
}

