body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    height: 100vh;
    background: url('./images/woman.gif');
    background-size: cover;
    background-position: center bottom;
    width: 100%;
}

ul{
    display: flex;
    list-style: none;
}

li{
    padding: 30px 23px;
    border: 2px solid transparent;
    text-transform: uppercase;
    color:white;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 3px; 
    font-family: 'Morganite', sans-serif;
    line-height: 30px; 
    text-align: center; 
}

.nav-menu li a {
    text-decoration: none;
    color: white;
}
.nav-menu .active{
    background: white;
    color:#D22F85; 
    height: 39px; 
    text-align: center; 
}

.nav-menu li:hover {
    background: #D22F85;
    color: white;
    cursor: pointer;
    border-radius: 5px; 
}

nav ul {
    margin: 0 10px;
}

h1{
    color:#FCF300;
    font-family: 'Morganite', sans-serif;
    font-size: 170px;
    margin: 0px;
    padding-left: 136px;
    margin-top: 20px;
    font-weight: 900;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.5); 
    letter-spacing: 3px; 
}

h2{
    color:white;
    font-family: 'Morganite', sans-serif;
    font-size: 170px;
    margin: 0px;
    padding-left: 50px;
    padding-top: 0px;
    font-weight: 900;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.5); 
    letter-spacing: 3px; 
}

.title-section{
  color: #000000;
  font-family: "Bebas Neue", Sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-top: 60px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}


h3{
    color:#f78da7;
    font-family: 'Morganite', sans-serif;
    font-size: 66px;
    margin: 0px;
    padding-left: 134px;
    margin-top: 3px;
    font-weight: 800;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.5); 
    letter-spacing: 3px; 
}

h4{  
    color: #902F6F;
    font-family: 'Morganite', sans-serif;
    font-size: 150px;
    font-weight: 800;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 20px;
    padding: 40px;
}

#sobre-mi{
    margin-bottom: 40px;
}

h5{
    color:#D22F85;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
    color: #D22F85;
    font-weight: bold;
    letter-spacing: 3px; 
}

nav{
    display: flex;
    justify-content: flex-end;
}

.slogan-design {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

.section-container{    
    background-color: rgb(255, 255, 255);
    padding: 32px 74px ;
    margin-top: 215px;
}
.section2-container{
    display: flex;
    flex-direction: column;
    background: url('./images/blue.avif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    padding-bottom: 100px;  
}

.image-row{
    display: flex;
    justify-content: center; 
    gap: 80px;   
    margin-top: 0px;
}

.image-row img {
    width: 296px;
    margin: 25px;
    margin-left: 155px;
    margin-right: 10px;
    border: 3px solid #e6e6e6;
    border-radius: 10px;
    box-shadow: 6px 5px 5px #ececec;
}

img{
    display: flex;
    justify-content: center; 
    gap: 20px; 
    width: 200px;  
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 0fr); /* 3 columnas de igual tamaño */
  padding-top: 60px;
  justify-content: center;
}

.image-grid-proyectos {
  display: grid;
  justify-content: center;
  align-content: center; 
  gap: 0px;
}

.image-grid-proyectos img {
  width: 440px;
  height: 208px;
  border: 1.5px solid black;
}
.slogan{
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
  text-decoration: overline underline #000;
  line-height: 2;
  text-decoration-thickness: 1px;
  text-align: center;
  color: black;
  padding-bottom: 0px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 34px;
}

.biography{ 
  font-family: Poppins;
  font-weight: 400;
  line-height: 27px;
  font-size: 16px;
  margin-bottom: 75px;
  margin-left: 10px;
  margin-right: 200px;
  padding-top: 50px;
}

.section3-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.slogan-services{
  padding-top: 40px;
}
.content-project{
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  padding-right: 200px;
  padding-left: 200px;
}

.design-text {
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-left: 50px;
  }
  
.service-row {
  background: url('./images/fondo.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 40px;
  margin: 20px;
  text-align: center;
  box-shadow: 5px 6px 2px 0px #00000045;
  margin-bottom: 50px;
  }

.description{
  color: white;
  font-weight: 425;
  font-size: 24px;
  margin-bottom: 35px;
  display: block;
  font-family: inherit;
  text-transform: none;
  letter-spacing: 10px;
  line-height: 39px;
  padding-right: 50px;
  padding-left: 50px;
}
.description-font{
  font-family: inherit;
  font-size: 32px;
  display: flex;
}

.button-container{
  display: flex;
  justify-content: center;
}

.service-title {
    font-size: 100px;
    font-weight: 800;
    color:#D22F85; 
    font-family: 'Morganite', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
}

.cta-button {
  font-size: 100px;
  font-weight: 800;
  color:#FCF300; 
  font-family: 'Morganite', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
  font-size: 80px;
}

.section4-container {
  background: url('./images/sunset.png');
  opacity: 0.8; 
  padding-bottom: 100px;
}

.design-text {
  color: black;
  justify-content: center;
  display: flex;
}

.form {
  padding: 17px;
  width: 44%;
  max-width: 550px;
  margin: 0 auto;
}

label{
  font-weight: 800;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.input-group {
  margin: 10px 0;
  color: black; 
}


#nombre, #email, #mensaje{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  margin-top: 5px;
  border: solid 2px black;
}

button {
  background-color: #00000080;;
  color:white;
  border-radius: 5px;
  padding: 13px 23px;
  cursor: pointer;
  margin-top: 10px;
  border: solid 2px black;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: 'Morganite', sans-serif;
  
}
#contacto{
  height: 85vh;
  background-size: cover;
  background-position: center bottom;
  padding-top: 30px;
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.footer {
  position: relative;
  width: 100%;
  background:black;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon_item,
.menu__item {
  list-style: none;
}

.social-icon_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon_link:hover {
  transform: translateY(-10px);
}

.menu_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.95;
  font-weight: 300;
}

.menu_link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}



@media (max-width: 1110px) {

  .main{
    height: 83vh;
  }
  .nav-menu{
    width: 682px;
  }
  h1{
    font-size: 95px;
    margin-top: 111px;
    padding-left: 169px;
  }
  h2{
    font-size: 95px;
    padding-left: 118px;
  }
  h3{
    font-size: 41px;
    padding-left: 157px;
  }
  #sobre-mi{
    margin-bottom: 0px;
  }
  .title-section{
    font-size: 28px;
    text-align: center;
  }
  .slogan{
    font-size: 20px;
    text-align: center;
  }
  .image-row img{
    width: 228px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .biography{
    margin-right: 0px;
    margin-left: 0px;
    font-size: 12px;
    padding-top: 53px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .service-row{
    width: 100vh;
    margin-left: 0px;
  }
  .image-grid-proyectos img {
    width: 305px;
    height: 155px;
  }
  .cta-button{
    padding: 10px 30px;
  }

  .section3-container{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .section4-container {
    padding-bottom: 55px;
  }

}

@media (max-width: 900px) {

  .main{
    height: 75vh; 
  }
  .body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .nav-menu{
    width: 543px;
  }
  li{
    font-size: 30px;
    letter-spacing: 2px;
    padding-left: 17px;
    padding-right: 17px;
    height: 0px;
  }
  .nav-menu .active {
    height: 0px;
    padding-left: 8px;
    padding-right: 6px;
  }

  h1{
    font-size: 89px;
    margin-top: 127px;
    padding-left: 77px;
  }
  h2{
    font-size: 78px;
    padding-left: 55px;
  }
  h3{
    font-size: 43px;
    padding-left: 66px;
  }
  #sobre-mi{
    margin-bottom: 0px;
  }
  .section-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .title-section{
    font-size: 15px;
  }
  .slogan{
    font-size: 13px;
  }
  .image-row img{
    width: 228px;
    margin-top: 10px;
    margin-left: 0px;
  }
  .photo-row{
    display: flex;
    align-content: center;
    justify-content: center;

  }
  .biography{
    font-size: 14px;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .service-row{
    width: 74vh;
    margin-left: 0px;
  }
  
  .image-grid-proyectos img {
    width: 148px;
    height: 128px;
  }
  .section3-container{
    padding-left: 0px;
  }
  .description{
    font-size: 15px;
    padding-left: 14px;
    padding-bottom: 30px;
  }
  .service-title{
    font-size: 58px;
  }
  .cta-button{
    font-size: 56px;
    margin-top: 52px;
  }
  #nombre, #email, #mensaje{
    width: 214px;
  }
  .form{
    display: grid;
    align-content: center;
    justify-content: center;
  }
  .section4-container {
    padding-bottom: 0px;
  }
}


@media (max-width: 700px){

  .main{
    height: 39vh; 
  }
  .body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .nav-menu{
    width: 600px;
  }
  li{
    font-size: 18px;
    letter-spacing: 2px;
    height: 0px;
    padding: 35px 8px;
  }
  .nav-menu .active {
    height: 0px;
    padding-left: 8px;
    padding-right: 6px;
  }

  h1{
    font-size: 40px;
    margin-top: 46px;
    padding-left: 77px;
  }
  h2{
    font-size: 40px;
    padding-left: 55px;
  }
  h3{
    font-size: 21px;
    padding-left: 58px;
    font-weight: 800;
  }
  .section-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .title-section{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .image-row img{
    margin: 0px;
  }
  .slogan{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .biography{
    font-size: 14px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .service-row{
    width: 34vh;
    margin-right: 0px;
  }
  .image-grid-proyectos img {
    width: 112px;
    height: 84px;
  }
  .image-grid{
    padding-top: 0px;
  }
  .section3-container{
    padding-left: 0px;
  }
  .description{
    font-size: 16px;
    padding-left: 0px;
  }
  .description-font{
    font-size: 15px;
  }
  .service-title{
    font-size: 58px;
  }
  .cta-button{
    font-size: 50px;
  }
  .form{
    display: grid;
    align-content: center;
    justify-content: center;
  }
  .section4-container {
    padding-bottom: 34px;
  }
}